$layout-splitter-zindex: 5 !default;

$layout-pages-bg-color: #FFF !default;

$pane-color: #f7f5fa !default;
$pane-border-color: #BBB !default;
$pane-border-width: 1px !default;
$pane-secondary-color: #FCFAFC !default;
$pane-secondary-border-color: rgba(#000, .125) !default;
$pane-secondary-border-width: 1px !default;

